<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h2><%= restaurant.title %></h2>
    <h2><%= restaurant.location %></h2>
    <footer>
        <a href="/restaurants">All restaurants</a>
    </footer>
    
</body>
</html>